<%-include('../layout/userLayout')%>
<%-include('../partials/userHeader')%>
<style>.wishlist-active {
	color: red;
  }  
</style>


	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<button class="add-text text-uppercase btn btn-lg text-white" style="border-radius:30%;background-color: rgb(250, 185, 6);">Shop Now</button>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="/img/main_shoef.png" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Nike New <br>Collection!</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<div class="add-bag d-flex align-items-center">
										<a class="btn btn-lg btn-warning" href="/cart"><span class="add-text text-uppercase">Shop Now</span></a>
										
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<a href="/shop" ><img class="img-fluid w-100" src="img/category/c1.jpg" alt=""></a>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<a href="/shop" ><img class="img-fluid w-100" src="img/category/c2.jpg" alt=""></a>
								
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<a href="/shop" ><img class="img-fluid w-100" src="img/category/c3.jpg" alt=""></a>
								
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<a href="/shop" ><img class="img-fluid w-100" src="img/category/c4.jpg" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<a href="/shop" ><img class="img-fluid w-100" src="img/category/c5.jpg" alt=""></a>
					
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Latest Products</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore
									magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<% product.slice(0,4).forEach(products=>{%>
						<!-- single product -->
						<div class="col-lg-3 col-md-6">
							<div class="single-product">
								<a href="/product-detailed/<%=products._id%>"><div class="d-flex align-items-center" style="height: 20em;">
									<img class="img-fluid" src="<%=products.image[0].path%>" alt="">
								</div></a>
								<div class="product-details">
									<h6><%=products.name%></h6>
									<div class="price">
										<h6><span>&#8377</span><%=products.price%></h6>
										<!-- <h6 class="l-through">2100.00</h6> -->
									</div>
									<div class="prd-bottom d-flex justify-content-evenly">
	
										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to Cart</p>
										</a>
										<!-- <a href="#" onclick="addToWishList('<%=products._id%>')" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p>
										</a> -->
										<a href="#" onclick="addToWishList('<%=products._id%>')" class="social-info ${wishlistProductIds.includes(products._id.toString()) ? 'wishlist-active' : ''}">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p>
										  </a>
										  
									</div>
								</div>
							</div>
						</div>	
						<%})%> 	
					</div>
				</div>
			</div> 
			<!-- single product slide -->
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Coming Products</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore
									magna aliqua.</p>
							</div>
						</div>
					</div> 
					 <div class="row">
						<!-- single product -->
						<% product.slice(-4).forEach(products=>{%>
							<!-- single product -->
							<div class="col-lg-3 col-md-6">
								<div class="single-product">
									<a href="/product-detailed/<%=products._id%>"><div class="d-flex align-items-center" style="height: 20em;">
										<img class="img-fluid" src="<%=products.image[0].path%>" alt="">
									</div></a>
									<div class="product-details">
										<h6><%=products.name%></h6>
										<div class="price">
											<h6><span>&#8377</span><%=products.price%></h6>
											<!-- <h6 class="l-through">2100.00</h6> -->
										</div>
										<div class="prd-bottom">
		
											<a href="" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to Cart</p>
											</a>
										
											<a href="#" onclick="addToWishList('<%= products._id %>')" class="social-info" >
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
										</div>
									</div>
								</div>
							</div>	
						<%})%>
					</div>
				</div>
			</div>
	</section>
	<!-- end product Area -->



	<!-- Start brand Area -->
	<section class="brand-area section_gap">
		<div class="container">
			<div class="row">
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
				</a>
				<a class="col single-img" href="#">
					<img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
				</a>
			</div>
		</div>
	</section>
	<!-- End brand Area -->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<% product.slice(0,9).forEach(products=>{%>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="/product-detailed/<%=products._id%>"><img style="object-fit: contain;width: 6em;height:6em;" src="<%=products.image[0].path%>" alt=""></a>
								<div class="desc">
									<a href="#" class="title"><%=products.name%></a>
									<div class="price">
										<h6><span>&#8377</span><%=products.price%></h6>
									</div>
								</div>
							</div>
						</div>
						<%})%> 	
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
	<script src="/js/ajaxRequest.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<%-include('../partials/userFooter')%>

<%-include('../layout/userLayout2')%>